#ifocop {
  display: none;
  position: absolute;
  top: 223px;
  left: 400px;
}
#containerStory {
  display: flex;
}
#figure {
  background-image: url('assets/img/idle_anim.gif');
  width: 200px;
  height: 510px;
}
/* Texte défilant */
.content {
  display: block;
  margin: 40px auto;
  margin-top: 40px;
  margin-top: 75px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  table-layout: fixed;
  width: 100%;
  height: 24px;
  top: -44px;
  left: 209px;
  margin-left: 30px;
}
.message {
  display: block;

  margin-left: -100%;
  padding: 0 5px;
  font-size: 1.2rem;
  animation-duration: 40s;
  animation-name: defilement;
  animation-iteration-count: forwards;
  /*animation: defilement 30s forwards linear;*/
}
.message:after {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
  padding-left: 10px;
}
@keyframes defilement {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
