body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
#ifocop {
  display: none;
  position: absolute;
  top: 88px;
  left: 757px;
  font-size: 2em;
  width: 211px;
  height: 238px;
  background-image: url('../img/ifocop.png');
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}
#buttonPlay {
  display: none;
  position: absolute;
  top: 219px;
  left: 418px;
  font-size: 1.5em;
  width: 487px;
  height: 183px;
  background-color: #18baf0;
  z-index: 1;
  cursor: pointer;
}
#containerStory {
  display: flex;
}
#jerome {
  background-image: url('../img/idle_anim.gif');
  width: 250px;
  height: 510px;
  z-index: 5;
}
#merlin {
  background-image: url('../img/merlin-jump.png');
  width: 100px;
  height: 150px;
  display: none;
  position: absolute;
  top: 75px;
  left: 600px;
}
/* Texte défilant */
.content {
  display: block;
  margin: 40px auto;
  margin-top: 40px;
  margin-top: 75px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  table-layout: fixed;
  width: 100%;
  height: 24px;
  top: -44px;
  left: 209px;
  margin-left: 30px;
}
.message {
  display: block;

  margin-left: -100%;
  padding: 0 5px;
  font-size: 1.2rem;
  animation: defilement 35s forwards linear;
}
.message:after {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
  padding-left: 10px;
}
@keyframes defilement {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
